@use "reset";
@use "mixin" as mixin;

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  section {
    @include mixin.media(1024px) {
      margin-bottom: 5rem;
    }
  }

  .container {
    @apply w-full max-w-[1470px] px-4 mx-auto;
  }

  .hide-scroll::-webkit-scrollbar {
    display: none;
  }

  .top-shadow {
    box-shadow: 0px -4px 12px -2px rgba(0, 0, 0, 0.2);
  }

  .banner__dot_list {
    bottom: 1rem !important;

    .react-multi-carousel-dot button {
      @apply bg-light-gray border-dark-gray
    }

    .react-multi-carousel-dot--active button {
      @apply bg-pink border-pink;
    }
  }

  label.menu-button {
    display: flex;
    flex-direction: column;
    width: 25px;
    cursor: pointer;

    span {
      background: #fff;
      border-radius: 10px;
      height: 2.4px;
      margin: 2.4px 0;
      transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    span:nth-of-type(1) {
      width: 50%;
    }

    span:nth-of-type(2) {
      width: 100%;
    }

    span:nth-of-type(3) {
      width: 75%;
    }

    &.active {
      span:nth-of-type(1) {
        width: 52%;
        transform-origin: bottom;
        transform: rotatez(45deg) translate(3px, 0px);
      }

      span:nth-of-type(2) {
        transform-origin: top;
        transform: rotatez(-45deg);
      }

      span:nth-of-type(3) {
        transform-origin: bottom;
        width: 52%;
        transform: translate(10.5px, -4px) rotatez(45deg);
      }
    }
  }

  .tabs-component {
    max-width: 700px;
    margin: auto;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 2rem;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);

    .tab-links {
      padding: 0;
      margin: 0 auto;
      list-style: none;
      max-width: 400px;
      display: flex;
      justify-content: space-between;

      .tab {
        position: relative;

        &.active {
          &::before {
            background: #D92E15;
          }

          img {
            filter: invert(100%);
          }
        }

        &::before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          border-radius: 40px;
          background: none;
          transition: background 0.5s ease;
        }

        img {
          height: 30px;
          width: 30px;
          min-width: 30px;
          transition: fill 0.5s ease;
        }

        a {
          padding: .5rem 1rem;
          display: flex;
          gap: .5rem;
          align-items: center;
          overflow: hidden;
          position: relative;
        }
      }
    }
  }
  .phone__mask{
    .text_validator{
      color: #f11717;
    }
    .text_invalidator{
      color: #282828;
    }
    .error__message{
      color: #f11717;
      padding-left: 3px;
      font-size: 14px;
    }
    input {
      margin-top: 5px;
      width: 100%;
      border-radius: 8px;
      border: 1px solid #ccc;
      padding: 16px;
      font-size: 16px;
      font-weight: 400;
      line-height: 100%;
      &::placeholder {
        color: #d6d5d2;
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
      }
      &:focus {
        border: 1px solid red;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #88888858;
}
